.active {
  padding: 10px 30px;
  border: 1px solid gray;
  background-color: rgb(165, 194, 248);
  cursor: pointer;
}

.default {
  padding: 10px 30px;
  border: 1px solid black;
  cursor: pointer;
}

.content {
  padding: 30px 30px;
  border: 1px solid gray;
}
.container {
  width: 500px;
}
.img {
  position: relative;
  left: 360px;
}
